.shopping-cart-list {
    display: flex;
    flex-direction: column;
}
.shopping-cart-list > .ant-tabs {
    flex-grow: 1;
}
.shopping-cart-list > .ant-tabs > .ant-tabs-nav {
    margin-bottom: 0;
}
.shopping-cart-list > .section-tab-content {
    overflow: auto;
}
.shopping-cart-list .cart-list-extra {
    flex: 0;
    padding-top: 16px;
    border-top: 1px solid #f0f0f0;
}
.shopping-cart-list .cart-section-divider {
    /* margin: 2px 0;
    display: none; */
    margin: 0;
    /* These dividers need to be slightly more defined than the dividers between individual list items, since they are separating the lists themselves. */
    background: rgba(0, 0, 0, 0.05);
}
.shopping-cart-list .ant-collapse-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 8px !important;
}
.shopping-cart-list .ant-collapse-header .ant-collapse-header-text {
    flex-grow: 1;
}
.shopping-cart-list .ant-collapse-content-box {
    padding: 0 !important;
}
.shopping-cart-list .ant-list {
    /* border-left: 1px solid #f0f0f0;
    padding-left: 8px;
    margin-left: 5px; */
}
.shopping-cart-list .ant-list-item {
    margin-left: 4px;
    margin-top: 8px;
    padding-bottom: 8px;

    padding-top: 0px;
}
.shopping-cart-list .ant-list-item:first-child {
    margin-top: 0;
}
.shopping-cart-list .ant-list-item:last-child {
    padding-bottom: 8px;
}
.shopping-cart-list .ant-list-empty-text {
    display: none;
    /* padding: 4px 0; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    /* text-align: start; */
    /* font-style:italic; */
    /* color: rgba(0, 0, 0, 0.85); */
}
.shopping-cart-list .cart-item {
    display: flex;
    width: 100%;
    transition: background-color 300ms ease, padding 300ms ease;
}
.shopping-cart-list .cart-item.cart-item-selected {
    background-color: #e6f7ff;
    padding: 8px 8px !important;
}
.shopping-cart-list .cart-item-checkbox > .ant-checkbox {
    opacity: 0;
    /* transition: opacity 0.1s ease; */
}
.shopping-cart-list .cart-section-list.show-checkboxes .cart-item-checkbox > .ant-checkbox,
.shopping-cart-list .cart-item:hover .cart-item-checkbox > .ant-checkbox {
    opacity: 1;
}
.shopping-cart-list .cart-item-checkbox > .ant-checkbox.ant-checkbox-checked {
    opacity: 1;
}
/* .shopping-cart-list .cart-section-list.show-checkboxes .cart-item-checkbox > .ant-checkbox > .ant-checkbox-inner {
    border-color: #1890ff;
} */

.shopping-cart-list .cart-item .cart-item-description {
    margin-bottom: 0;
}
.shopping-cart-list .cart-item .cart-item-button-container > .ant-space-item > a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.85);
}