.shopping-cart-popover {
    width: 325px;
    position: fixed !important;
}
.shopping-cart-popover .ant-popover-inner-content {
    padding-top: 0;
}
.shopping-cart-popover .cart-popover-content {
    display: flex;
    flex-direction: column;
}
.shopping-cart-popover .cart-popover-content .cart-list-container {
    max-height: 500px;
    overflow: auto;
}
.manage-cart-list {
    /* border-left: 1px solid #f0f0f0; */
}
.manage-cart-item {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border: none !important;
    /* border-left: 1px solid #f0f0f0 !important; */
}
.manage-cart-item:first-child {
    margin-top: 0;
}
.cart-dropdown-menu {
    padding: 2px 0 2px 0 !important;
    width: 225px;
    max-height: 400px;
    overflow-y: auto;
}
.cart-dropdown-menu > .ant-dropdown-menu-item {
    padding: 7px 12px;
}
.cart-dropdown-menu > .ant-dropdown-menu-item > .ant-dropdown-menu-title-content {
    display: flex;
    align-items: center;
    width: 100%;
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}
.cart-dropdown-search {
    padding: 6px 11px !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid #f0f0f0 !important;
}
.shopping-cart-popover .cart-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 4px;
    padding: 12px 0;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.shopping-cart-popover .cart-subtotal .subtotal-value {
    font-size: 13px;
}